<div class="w-screen">
  <form [formGroup]="userForm">
    <div
      class="px-10 pb-10 flex flex-col md:flex-row w-full md:w-3/4 bg-white md:py-24 md:mb-72 justify-center gap-10 md:gap-20 lg:gap-60 mx-auto shadow-xl overflow-hidden mb-60 rounded-3xl"
    >
      @if(loading) {
      <mat-spinner
        class="!w-28 !absolute right-[37%] md:right-[49%] top-1/2"
      ></mat-spinner>
      } @if(showErrorAlert) {
      <div class="absolute md:top-20 top-4">
        <app-alert [alertData]="alertData"></app-alert>
      </div>
      }

      <app-upload-file
        formControlName="profilePicture"
        [previewUrl]="previewUrl"
      ></app-upload-file>

      <div class="md:w-96">
        <h2 class="text-lg font-semibold mb-4">Update Profile Info</h2>

        <div class="mb-4">
          <mat-form-field
            [hideRequiredMarker]="true"
            appearance="outline"
            class="w-full"
          >
            <mat-label>First Name</mat-label>
            <input matInput formControlName="name" id="name" type="text" />
            @if(userForm.get('name')?.invalid && (userForm.get('name')?.touched
            || userForm.get('name')?.dirty)) {
            <mat-error>First name is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="mb-4">
          <mat-form-field
            [hideRequiredMarker]="true"
            appearance="outline"
            class="w-full"
          >
            <mat-label>Last Name</mat-label>
            <input
              matInput
              formControlName="surname"
              id="surname"
              type="text"
            />
            @if(userForm.get('surname')?.invalid &&
            (userForm.get('surname')?.touched ||
            userForm.get('surname')?.dirty)) {
            <mat-error>Last name is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="mb-4">
          <mat-form-field
            [hideRequiredMarker]="true"
            appearance="outline"
            class="w-full"
          >
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" id="email" type="email" />
            @if(userForm.get('email')?.invalid &&
            (userForm.get('email')?.touched || userForm.get('email')?.dirty)) {
            <mat-error *ngIf="userForm.get('email')?.errors?.['required'] ">
              Email is required
            </mat-error>
            <mat-error *ngIf="userForm.get('email')?.errors?.['pattern']">
              Invalid email format
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="mb-4">
          <mat-form-field
            [hideRequiredMarker]="true"
            appearance="outline"
            class="w-full"
          >
            <mat-label>Mobile Number</mat-label>
            <input
              matInput
              formControlName="mobile"
              id="mobile"
              type="text"
              placeholder="Enter your mobile number"
            />
            @if(userForm.get('mobile')?.invalid &&
            (userForm.get('mobile')?.touched || userForm.get('mobile')?.dirty))
            {
            <mat-error *ngIf="userForm.get('mobile')?.errors?.['pattern']">
              Only numbers are allowed
            </mat-error>
            <mat-error *ngIf="userForm.get('mobile')?.errors?.['minlength']">
              Min 10 numbers
            </mat-error>
            <mat-error *ngIf="userForm.get('mobile')?.errors?.['maxlength']">
              Max 10 numbers
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="flex items-center justify-between">
          <button
            mat-flat-button
            color="primary"
            type="button"
            class="!w-32"
            [disabled]="userForm.invalid"
            (click)="openDialog()"
          >
            Save
          </button>

          <button
            mat-stroked-button
            type="button"
            class="!w-32"
            [disabled]="loading"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
