<div class="w-screen">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div
      class="px-10 pb-10 flex flex-col md:flex-row w-full md:w-3/4 bg-white md:py-24 md:mb-72 justify-center gap-10 md:gap-20 lg:gap-60 mx-auto shadow-xl overflow-hidden mb-60 rounded-3xl"
    >
      @if(loading){<mat-spinner
        class="!w-28 !absolute right-[37%] md:right-[49%] top-1/2"
      ></mat-spinner
      >} @if(showErrorAlert) {
      <div class="absolute md:top-20 top-4">
        <app-alert [alertData]="alertData"></app-alert>
      </div>
      }
      <div class="flex flex-col items-center">
        <h2 class="text-lg font-semibold mb-4">Update Profile Picture</h2>

        <div class="items-center">
          <input
            type="file"
            formControlName="profilePicture"
            (change)="onFileSelected($event)"
            accept="image/*"
            class="mb-4 w-52"
          />
        </div>

        @if(previewUrl){
        <img
          [src]="previewUrl"
          alt="Profile Preview"
          class="w-48 h-48 xl:w-60 xl:h-60 rounded-full object-cover"
        />
        }
      </div>

      <div class="md:w-96">
        <h2 class="text-lg font-semibold mb-4">Update Profile Info</h2>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            First Name:
          </label>
          <input
            formControlName="name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            type="text"
          />
          @if( userForm.get('name')?.invalid && (userForm.get('name')?.touched
          || userForm.get('name')?.dirty)){
          <div>
            <small class="text-red-500">First name is required</small>
          </div>
          }
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="surname"
          >
            Last Name:
          </label>
          <input
            formControlName="surname"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="surname"
            type="text"
          />
          @if( userForm.get('surname')?.invalid &&
          (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)){
          <div>
            <small class="text-red-500">Last name is required</small>
          </div>
          }
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email:
          </label>
          <input
            formControlName="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
          />
          @if(userForm.get('email')?.invalid && (userForm.get('email')?.touched
          || userForm.get('email')?.dirty)){
          <div class="flex flex-col">
            @if(userForm.get('email')?.errors?.['required']){

            <small class="text-red-500">Email is required</small>
            } @if(userForm.get('email')?.errors?.['pattern']){

            <small class="text-red-500">Invalid email format</small>
            }
          </div>
          }
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="mobile"
          >
            Mobile Number:
          </label>
          <input
            formControlName="mobile"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="mobile"
            type="text"
          />
          @if(userForm.get('mobile')?.invalid &&
          (userForm.get('mobile')?.touched || userForm.get('mobile')?.dirty)){

          <div class="flex flex-col">
            @if(userForm.get('mobile')?.errors?.['pattern']){

            <small class="text-red-500">Only numbers are allowed</small>
            } @if(userForm.get('mobile')?.errors?.['minlength']){

            <small class="text-red-500">Min 10 number</small>
            } @if(userForm.get('mobile')?.errors?.['maxlength']){

            <small class="text-red-500">Max 10 number</small>
            }
          </div>
          }
        </div>

        <div class="flex items-center justify-between">
          <button
            type="button"
            [disabled]="userForm.invalid"
            (click)="openDialog()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-24"
          >
            Save
          </button>

          <button
            type="button"
            [disabled]="loading"
            (click)="cancel()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none w-24 focus:shadow-outline"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
