<div class="w-screen">
  @if(user$ |async; as user){
  <div
    class="w-full md:w-3/4 bg-white mx-auto shadow-xl overflow-hidden mb-28 sm:mb-64 rounded-3xl"
  >
    <div class="flex mx-auto justify-center mt-20">
      <div
        class="relative md:absolute md:top-20"
        [ngClass]="user.name ? '' : 'md:!top-36'"
      >
        <img
          class="w-60 h-60 object-cover rounded-full border-2 border-gray-300"
          [src]="
            user.profilePicture
              ? user.profilePicture
              : defaultData.defaultPicture
          "
          alt="User Profile Picture"
        />
      </div>
    </div>

    <div
      class="flex justify-center items-center my-10 md:my-28 flex-col w-full"
    >
      <div class="absolute top-5">
        <app-alert [alertData]="alertData"></app-alert>
      </div>

      <div class="flex flex-col items-center">
        @if(!user.name){
        <div class="text-xl font-medium text-center w-2/3 mb-10">
          <p class="text-gray-600">
            {{ defaultData.defaultInfoText }}
          </p>
        </div>
        } @if(user.name){
        <h1 class="text-5xl font-medium text-center mb-3">
          {{ user.name | titlecase }}
          {{ user.surname | titlecase }}
        </h1>

        <div class="mb-10 flex">
          <mat-icon class="text-black mr-2">location_on</mat-icon>
          <p>Tbilisi, Georgia</p>
        </div>

        <div class="mb-8 flex flex-col text-center">
          <p class="text-xl font-semibold">Web Developer - Software Engineer</p>
          <p class="text-gray-600 text-lg">
            University of Melbourne - Melbourne, Australia
          </p>
        </div>

        <div class="mb-10 flex justify-center w-full gap-8">
          <span class="flex justify-center items-center">
            <mat-icon class="text-black mr-2">email</mat-icon>
            <p class="text-lg">
              {{ user.email }}
            </p>
          </span>
          @if(user.mobile){<span class="flex justify-center items-center">
            <mat-icon class="text-black mr-2">phone</mat-icon>
            <p class="text-lg">{{ user.mobile }}</p> </span
          >}
        </div>
        }

        <button mat-flat-button class="!px-24" (click)="navigateToEdit(user)">
          @if(user.name){
          <span class="flex justify-center items-center text-white gap-3"
            ><p class="text-lg">Edit Profile</p>
            <mat-icon class="text-white">edit</mat-icon>
          </span>
          }@else{
          <span class="flex justify-between items-center text-white gap-2"
            ><p class="text-lg">Add Profile Info</p>
            <mat-icon class="text-white">add</mat-icon>
          </span>
          }
        </button>
      </div>
    </div>
  </div>
  }
</div>
