<div
  class="hidden lg:flex w-fit h-screen border-r-2 border-gray-600 flex-col justify-between"
>
  <div class="p-10 pl-20">
    <mat-icon class="text-white">token</mat-icon>

    @for(data of data; track data) {
    <div class="flex flex-row gap-3 my-6 cursor-pointer">
      <mat-icon class="text-white">{{ data.icon }}</mat-icon>
      <p class="text-white">{{ data.nav_name }}</p>
    </div>
    }

    <button
      mat-button
      mat-flat-button
      color="primary"
      class="rounded-2xl border-neutral-600 !px-28 py-3 text-white"
    >
      Post
    </button>
  </div>

  <div class="mt-auto p-10 pl-20 flex flex-row gap-3 cursor-pointer">
    <mat-icon class="text-white">settings</mat-icon>
    <p class="text-white">Account settings</p>
  </div>
</div>
