<div class="w-screen bg-white shadow-lg rounded-lg overflow-hidden">
  @if(showSuccessAlert){<app-alert [alertData]="alertData"></app-alert>}
  @for(user of user;track user){
  <div class="flex mx-auto justify-center mt-8">
    <div class="relative">
      <img
        class="w-40 h-40 object-cover rounded-full border-2 border-gray-300"
        [src]="user.profilePicture"
        alt="User Profile Picture"
      />
    </div>
  </div>

  <div class="p-8">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        First Name
      </label>
      <p
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        {{ user.name }}
      </p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="surname">
        Last Name
      </label>
      <p
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        {{ user.surname }}
      </p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <p
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        {{ user.email }}
      </p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
        Mobile Number
      </label>
      <p
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        {{ user.mobile }}
      </p>
    </div>

    <div class="flex items-center justify-between">
      <button
        (click)="navigateToEdit(user)"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        Edit Profile
      </button>
    </div>
  </div>
  }
</div>
